<!DOCTYPE html>
<!-- Custom CSS -->
<link href="static/css/profile.css" rel="stylesheet">
{% include 'imports.html' %}

<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% include 'flash.html' %}
        <div class="rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <span class="font-weight-bold">Welcome, {{current_user.get_id()}}!</span>
                        <br>
                        <!--
                        <span class="text-black-50">{{current_user.get_id()}}@princeton.edu</span><span> </span>
                        -->
                        <div>Check Out A Random Route!</div>
                        <br>
                        <a class="btn btn-primary" href = "{{hrefRand}}" value="Submit Edits">Explore!</a>
                    </div>
                </div>
                <div class="col-md-4 border-right">
                    <div class="p-3 py-5">
                        <h4 class="text-left">Favorite Routes</h4>     
                        <div class="d-flex justify-content-between align-items-center experience"><span>Your Favorite Routes</span>
                            <a href="/searchresults" class="border px-3 p-1 add-route"><i class="fa fa-plus"></i>&nbsp;Add Routes</a>
                        </div><br>
                        {% for favorite in favorites %}
                            <a href="/routedetails?route_id={{favorite.route_id}}">{{ favorite.name }}</a>
                            <br>
                        {% endfor %}
                        <div class="col-md-12">
                            
                        </div> <br>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Comment History</h4>
                        </div>
                        <div class="comments-list">
                            {% for comment in own_comments %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading user_name">{{comment.netid}}</h4>
                                    <h6>On {{comment.name}}</h6>
                                    {{comment.comment}}
                                    <br>
                                    {% set hrefString = '/routedetails?route_id=' + comment.route_id|string %}
                                    <small><a href={{hrefString}}>Route Page</a></small>
                                    <span class="pull-right"><small>{{comment.timestamp.strftime('%B %d, %Y')}}</small></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>